

.number{
    background-color: #333333;
    border: none;
    width: 60px;
    height: 45px;
    border-radius:3px ;
    margin-top: 5px;
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
}
.clear{
    background-color: #333333;
    border: none;
    width: 125px;
    height: 45px;
    border-radius:3px ;
    margin-top: 5px;
    margin-left: 10px;
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    text-align: center;
}
.operation{
    background-color: #32a852;
    border: none;
    width: 45px;
    height: 45px;
    border-radius:3px ;
    margin-top: 5px;
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 17px;
}
#calculator{
    background-color: #454545;
    width: 260px;
    height: 325px;
    border-radius: 10px;
}
#answer{
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
    overflow: hidden;
}
#solution{
    color: rgb(196, 196, 196);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
}
body{
    background-color: #bebebe;
}